crimes{
  display:inline-block;
  // .histogram{
  //   height:0;
  //   width:50px;
  //   display:inline-block;
  //   text-align:center;
  //   color:white;
  // }
  // .radius-one{
  //   background-color:#7dcdcd;
  // }
  // .radius-two{
  //   background-color:#c0e8e8;
  // }
  // .radius-three{
  //   background-color:#e0efef;
  // }
  .bar rect {
    fill: rgba(122,205,206,1);
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}