crimes{
  display:inline-block;
  .histogram{
    height:0;
    width:50px;
    display:inline-block;
    text-align:center;
    color:white;
    position: relative;
    bottom:-5px;
  }
  .radius-one{
    background-color:red;
  }
  .radius-two{
    background-color:blue;
  }
  .radius-three{
    background-color:green;
  }
}