property-prices{
  .property{
  }
  .bar rect {
    fill: white;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: white;
  }

  .axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
  }
  .negative{
    stroke: red;
    fill:red;
    color:red;
  }
}

stations{
  .axis line {
      fill: none;
      stroke: red;
      shape-rendering: crispEdges;
  }
}

crimes{
  display:inline-block;
  // .histogram{
  //   height:0;
  //   width:50px;
  //   display:inline-block;
  //   text-align:center;
  //   color:white;
  // }
  // .radius-one{
  //   background-color:#7dcdcd;
  // }
  // .radius-two{
  //   background-color:#c0e8e8;
  // }
  // .radius-three{
  //   background-color:#e0efef;
  // }
  .bar rect{
    fill: none;
    stroke:black;
    stroke-dasharray:3,3;
  }
  .bar rect:hover{
    stroke-dasharray:none;
    fill:rgb(226,187,60);
  }

  .bar text {
    fill: black;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}
