
property-prices{
  .property{
    background:lightgrey;
  }
  .bar rect {
    fill: white;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: white;
  }

  .axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
  }
  .negative{
    stroke: red;
    fill:red;
    color:red;
  }
}
