.site-container{
  width:100%;
}
.bigdiv{
  width:100%;
  height:100%;
  position:absolute;
  text-align:center;
  h2{
    text-align: center;
    width:100%;
    position:absolute;
    top:50%;
    height:200px;
    margin: -100px 25px 25px 0;
    color:white;
    line-height: 60px;
    cursor:pointer;
  }
}
.welcome{
  background-image:url('https://s3-eu-west-1.amazonaws.com/locale-app/grand-central.jpg');
  background-size:cover;
  background-attachment:fixed;
  h1{
    z-index:100;
    color:mediumaquamarine;
    text-shadow: 2px 2px 0px white;
    text-align: center;
    width:100%;
    position:absolute;
    top:50%;
    height:100px;
    margin: -50px 25px 25px 0;
    font-size:60px;
    cursor:pointer;
  }
}
.intro{
  top:100%;
  background:mediumaquamarine;
  h2{
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 0px lightgrey;
  }
}




