.results{
  top: 300%;
  z-index:-1;
  text-align:left;
  map{
    width:50%;
    height:94.5%;
    margin-left: 50%;
    // margin-top: 100px;
  } 
  .top{
    font-family: 'Oswald', sans-serif;
    color:white;
    padding:20px;
    background-image:url('london.jpg');
    background-size:cover;
    background-attachment:fixed;
    height:70px;
    h3{
      font-family: 'Oswald', sans-serif;
      display:inline-block;
    }
    button{
      font-family: 'Oswald', sans-serif;
      display:inline-block;
      font-size:15px;
      float:right;
      background:red;
      padding:10px;
      border-radius: 5px;
      border:none;
      color:white;
      margin-top:10px;
      cursor:pointer;
      margin-left:40px;
    }
    .clear{
      background:black;
    }
  }   
  competitors{
    h3{
      padding:40px;
      margin:20px auto;
    }
    width:50%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    z-index:-1;
  }
  property-prices{
    text-align:left;
    .price-increase{
      padding:20px;
    }
  }
  stations{
    text-align:left;
  }
}