.results{
  top: 300%;
  z-index:-1;
  text-align:left;
  map{
    width:50%;
    height:94.5%;
    margin-left: 50%;
  } 
  h3{
    font-family: 'Oswald', sans-serif;
    color:white;
    padding:20px;
    background-image:url('london.jpg');
    background-size:cover;
    background-attachment:fixed;
    height:70px;
  }   
  competitors{
    h3{
      padding:40px;
    }
    width:50%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    z-index:-1;
    // background:rgba(233,229,221,1);
  }
  property-prices{
    text-align:left;
  }
  stations{
    text-align:left;
  }
}