<div class="top">
  <h3>*closest competitors rated above 3 stars<br>Location - {{location}}</h3>
</div>
<div class="left">
  <ul>
    <li ng-repeat="competitor in competitors">{{competitor.name}} | {{competitor.distance}}m</li>
  </ul>
</div>
<map 
zoom="17" 
center="{{coordinates.latitude}}, {{coordinates.longitude}}" 
styles="{{mapStyle}}" 
disableDefaultUI="true">
  <marker position="{{coordinates.latitude}}, {{coordinates.longitude}}" icon="https://s3-eu-west-1.amazonaws.com/locale-app/location-icon.png">
  </marker>
  <marker 
  ng-repeat="competitor in competitors"
  position="{{competitor.latitude}}, {{competitor.longitude}}"
  icon="https://s3-eu-west-1.amazonaws.com/locale-app/cross.png"></marker> 
</map>