<div class="left">
  <div ng-hide="competitors" class="error-div">
    <h1>...loading. If nothing shows after 3 seconds, please try again.</h1>
  </div>
  <ul>
    <li ng-repeat="competitor in competitors">{{competitor.name}} | {{competitor.distance}}m</li>
  </ul>
</div>
<map 
zoom="16" 
center="{{coordinates.latitude}}, {{coordinates.longitude}}" 
styles="{{mapStyle}}" 
disableDefaultUI="true">
  <marker position="{{coordinates.latitude}}, {{coordinates.longitude}}" icon="https://s3-eu-west-1.amazonaws.com/locale-app/location-icon.png">
  </marker>
  <marker 
  ng-repeat="competitor in competitors"
  position="{{competitor.latitude}}, {{competitor.longitude}}"
  icon="https://s3-eu-west-1.amazonaws.com/locale-app/cross.png"></marker> 
</map>