

<div class="site-container" ng-controller="LocationController as Location">
  <div class="welcome">
    <h1>I am the view</h1>
    <map ng-if="coordinates" 
    zoom="14" 
    center="{{coordinates.latitude}}, {{coordinates.longitude}}" 
    styles="{{mapStyle}}">
      <transit-layer></transit-layer>
      <fusion-tables-layer query="{
        select: 'Geocodable address',
        from: '1mZ53Z70NsChnBMm-qEYmSDOvLXgrreLTkQUvvg'}">
      </fusion-tables-layer>
      <marker ng-if="coordinates"
      position="{{coordinates.latitude}}, {{coordinates.longitude}}">
      </marker>
    </map>
    
    <form name="locationForm" ng-submit="returnStats(newLocation)">
      <label>Please Enter a London Address:</label>
      <input type="text" ng-model="newLocation">
      <button>SUBMIT</button>
    </form>
  </div>
  <div class="results">
    <crimes></crimes>
    <stations></stations>
    <property-prices></property-prices>
  </div>
</div>
